body{
  margin: 0;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
.header {
  background-image: url(images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  padding: 30px 80px;
  height: 500px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
ul li a  {
  text-decoration: none;
  color: white;
}
.header-message {
  color: white;
  border: 1px solid white;
  width: 500px;
  font-size: 70px;
  padding: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 120px;
}
.leader-in-vr {
  margin: 100px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.vr-text {
  /* text-align: end; */
  padding: 30px;
  /* border: 1px solid red; */
  height: 200px;
  position: relative;
  animation-name: vr-text;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes vr-text{
  0%{

  }
  100%{
    top: 241px;
    right: 150px;
    background: white;
    max-width: 400px;
  }
}

.vr-text h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0;
}
.vr-text p {
  font-size: 16px;
  color: gray;
}
.our-creations-container {
  padding: 30px 100px;
}
.creations-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px 0;
}
.creations-title h1 {
  font-size: 40px;
  margin: 0;
}
.creations-title input {
  width: 150px;
  padding: 10px;
  background: white;
  border-radius: 3px;
}
.image-a {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 60px;
}
.image-a {
  animation-name: image;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  animation-fill-mode:backwards;
}

@keyframes image {
  0%{
    /* border: 1px solid black ; */
    transform: skew(0deg)  translate(100px);
  }
  100%{
    border-radius: 20px;
    animation: step-end;
  }
}
.footer {
  background: black;
}
.footer-container {
  padding: 50px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin-top: 30px;
  font-size: 16px;
  color: rgb(236, 226, 226);
}
.footer-menu ul a {
  text-decoration: none;
  color: rgb(179, 179, 179);
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.p{
  color: gray;
  margin-top: 30px;
}